body{
  background-color: #FAF9F6 !important;
}

/* Shared Page Style for Login and Register */
.page {
  display: flex;
  height: 100vh;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 850px;
  height: 810px;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  border-radius: 20%;
}

.form-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.form-floating {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-floating label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-floating input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(180deg, #032f30, #0c969c);
}

.link {
  font-size: 0.9rem;
  color: #666;
}

.link a {
  color: #007bff;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

/* Additional Link Styles */
.forgot-password {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* navbar */
.navbar-logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 7px;
  margin-bottom: 7px;
}
.navbar{
  background: linear-gradient(90deg, #0a7075, #031716);
}
.nav-container{
  margin-left: 40px;
}

/* RoomDetail */
.room-detail {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}

.room-detail h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.room-detail p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.room-detail img {
  width: 100%;
  height: auto;
}
